<div class="panel-container">
    <!-- panel headline -->
  <div class="panel-header">
    <h1> {{viewName}} </h1>
    <div class="options-container" style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
      <button class="simple-button square medium interactive-button" id="show-products" (click)="setView('all-product','Todos los productos')" *ngIf="viewMode!='all-product'">
        <img class="svg" src="../../../assets/icons/alt-de-inventario.svg">
        <span class="button-text">Todos los productos</span>
      </button>
      <button class="simple-button square medium interactive-button" id="new-product" (click)="setView('new-product','Nuevo producto')" *ngIf="viewMode!='new-product'">
        <img class="svg" src="../../../assets/icons/capa-mas.svg">
        <span class="button-text">Crear nuevo producto</span>
      </button>
      <button class="simple-button square medium interactive-button" id="ask-product" (click)="setView('ask-product','Solicitar producto')" *ngIf="viewMode!='ask-product'">
        <img class="svg" src="../../../assets/icons/formulario.svg">
        <span class="button-text">Solicitar producto</span>
      </button>
      <button class="simple-button square medium interactive-button" id="inventory-button" (click)="setView('inventory','Inventario')" *ngIf="viewMode!='inventory'">
        <img class="svg" src="../../../assets/icons/formulario.svg">
        <span class="button-text">Ver inventario</span>
      </button>
    </div>
  </div>
  <hr>
  <!-- panel content -->
  <div class="panel-content">
    <div class="card-container">
      <div class="options-bar" id="inventory-options" *ngIf="viewMode!='new-product'">
        <select name="search" id="pages" class="select-header-table" [(ngModel)]="itemsPerPage" (ngModelChange)="repaginate()" [value]="5">
          <option [value]="5">5 por página</option>
          <option [value]="10">10 por página</option>
          <option [value]="15">15 por página</option>
        </select>
        <form class="search-bar-form" id="search">
          <img class="search-icon small" src="../../../assets/icons/search.svg">
          <input class="search-bar" type="text" placeholder="Busqueda" [(ngModel)]="searchQuery" (input)="onFilter()" [ngModelOptions]="{standalone: true}">
        </form>
        <img src="../../../assets/icons/ajustes-deslizadores.svg" class="svg filter-buton {{isShowingFilters==true? 'active':''}}"  id="filter" alt="filters" (click)="showFilters()">
        <div class="filter-options-container responsive" id="inventory-filters" *ngIf="isShowingFilters">
          <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
            <option value="0">todas las categorías</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
          </select>
          <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
            <option value="0">todos los tipos</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
          </select>
          <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
            <option value="0">todas las ubicaciones</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
          </select>
        </div>
      </div>
      <!-- tabla de inventario -->
      <div class="chart-container" id="inventory-chart" *ngIf="viewMode=='inventory'">
        <table class="responsive-table" id="inventory-table" >
          <thead>
            <tr>
              <td></td>
              <td>codigo</td>
              <td>nombre</td>
              <td>
                <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
                  <option value="0">categoria</option>
                  <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                </select>
              </td>
              <td>
                <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
                  <option value="0">tipo</option>
                  <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                </select>
              </td>
              <td>
                <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
                  <option value="0">ubicacion</option>
                  <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                </select>
              </td>
              <td>disponibles</td>
              <td></td>
            </tr>
          </thead>
            <tbody >
              <tr *ngFor="let product of data">
                <td class="product-image"><img src="../../../assets/logos/NoImage.png"></td>
                <td class="product-attribute cod">{{product.codigo}}</td>
                <td class="product-attribute name">{{product.nombre}}</td>
                <td class="product-attribute cat">{{product.categoria}}</td>
                <td class="product-attribute type">{{product.tipo}}</td>
                <td class="product-attribute store">{{product.ubicacion}}</td>
                <td class="product-attribute amount"> <span class="aux-text">Disponibles</span> {{product.disponibles}}</td>
                <td class="product-actions"></td>
              </tr>
          </tbody>

        </table>
      </div>

      <!-- formulario de nuevo producto -->
      <form *ngIf="viewMode=='new-product'" id="new-product-form">
        <div class="button-overlay big rounded" style="background-image: url(../../../assets/logos/NoImage.png);">
          <div class="overlay">
            <p>Agregar imagen</p>
            <button class="simple-button">Subir</button>
          </div>
        </div>
        <div id="inputs-container">
          <div class="form-input">
            <label for="new-product-name">Nombre del producto</label>
            <input type="text" id="new-product-name" placeholder="nombre">
          </div>


          <div class="form-input">
          <label for="new-product-name">Precio del producto</label>
          <input type="number" id="new-product-name" step='0.01' placeholder="0.00">
          </div>

          <select name="" id="category-new-product">
          <option value="NULL">Seleccionar categoria</option>
          <option *ngFor="let category of categories" [value]="category['id']"> {{category['nombre']}}</option>

          <label for="new-product-name">Precio del producto</label>
          <input type="number" id="new-product-name" step='0.01' placeholder="0.00">
<!--
          <div *ngFor="let attribute in newProd.attributes" class="form-input">
            <label for="new-product-name">Precio del producto</label>
            <input type="number" id="new-product-name" step='0.01' placeholder="0.00">
          </div> -->


        </select>
        </div>
        <button class="simple-button square medium interactive-button" id="new-product" >
          <img class="svg" src="../../../assets/icons/capa-mas.svg">
          <span class="button-text">Crear nuevo producto</span>
        </button>
      </form>

    </div>


  <!-- pagination buttons -->
  <ul class="pagination center-flex" *ngIf="viewMode!='new-product'">
    <button type="button" class="btn-pagination " [disabled]="currentPage===1" (click)="returnFirstPage()" >Inicio</button>
    <button type="button" class="btn-pagination " [disabled]="currentPage === 1" (click)="prevPage()">Anterior</button>
    <span class="pagination-indicator">{{ currentPage }} / {{ totalPages }}</span>
    <button type="button" class="btn-pagination" [disabled]="currentPage === totalPages" (click)="nextPage()">Siguiente</button>
    <button type="button" class="btn-pagination" [disabled]="currentPage === totalPages" (click)="returnLastPage()">Final</button>
  </ul>
  </div>
</div>
