<div class="panel-container">
  <!-- panel headline -->
  <div class="panel-divider">
    <h1> Inventario </h1>
  </div>
  <hr>
  <!-- panel content -->
  <div class="panel-content">
    <div class="card-container">
      <div id="options-bar">
        <select name="" id="" class="select-header-table" [(ngModel)]="itemsPerPage" (ngModelChange)="repaginate()" [value]="5">
          <option [value]="5">5 por página</option>
          <option [value]="10">10 por página</option>
          <option [value]="15">15 por página</option>
        </select>
      </div>
      <div class="chart-container">
        <table class="responsive-table">
          <thead>
            <tr>
              <td></td>
              <td>codigo</td>
              <td>nombre</td>
              <td>
                <select name="" id="" class="select-header-table no-border" [(ngModel)]="filters.category" (ngModelChange)="onFilter()">
                  <option value="0">categoria</option>
                  <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                </select>
              </td>
              <td>tipo</td>
              <td>ubicacion</td>
              <td>disponibles</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of data">
                <td></td>
                <td>{{product.codigo}}</td>
                <td>{{product.nombre}}</td>
                <td>{{product.categoria}}</td>
                <td>{{product.tipo}}</td>
                <td>{{product.ubicacion}}</td>
                <td>{{product.disponibles}}</td>
                <td></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!-- pagination buttons -->
  <ul class="pagination center-flex" uk-margin>
    <button type="button" class="btn-pagination " [disabled]="currentPage===1" (click)="returnFirstPage()" >Inicio</button>
    <button type="button" class="btn-pagination " [disabled]="currentPage === 1" (click)="prevPage()">Anterior</button>
    <span class="pagination-indicator">{{ currentPage }} / {{ totalPages }}</span>
    <button type="button" class="btn-pagination" [disabled]="currentPage === totalPages" (click)="nextPage()">Siguiente</button>
    <button type="button" class="btn-pagination" [disabled]="currentPage === totalPages" (click)="returnLastPage()">Final</button>
  </ul>
</div>
