/* You can add global styles to this file, and also import other style files */
@import "colors.scss";
@font-face {
  font-family: 'Inder';
  src: url(/src/assets/fonts/Inder-Regular.ttf);
}
//elements
body{
  margin: 0;
  background: $soft-grey;
}

.light-header{
  font-family: 'Inder';
  font-weight: lighter;
  color: black;
  font-size: 40px;
  }

.simple-button{
  border-radius: 5rem;
  background-color: white;
  border-color: $royal-blue;
  &:hover{
    background-color: $headlight-light-blue;
  }
}
.btn-pagination{
  border-radius: 2rem;
  padding: 5px 10px;
  border: 2px solid;
  border-color: $light-grey-blue;
  &:hover{
    background-color: $light-grey-blue;
    color: black;
  }
}
.content-box{
  display: flex;
 &.vertical{
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
 }
}
.navbar{
  background-color: black !important;
  &.left{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
  }
  &.option{
    background-color: none;
    width: 120px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: $highlight-orange;
    & .svg{
      height: 20px;
      width: 20px;
      filter: invert(71%) sepia(46%) saturate(663%) hue-rotate(342deg) brightness(98%) contrast(90%);
    }
    & h2{
      font-family: 'Inder';
      font-size: 14px !important;
      font-weight: lighter !important;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    border-radius: 5rem;
    &.active{
      background-color: $royal-blue !important;
      border: $accent-blue 2px solid !important;
      color: black !important;
      & .svg{
        filter: none;
      }
    }

    &:hover{
      background-color: $accent-blue !important;
      color: black !important;
      & .svg{
        filter: none;
      }
    }
  }
  &.offcanvas{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
  }
}
.search-bar{
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  /* 3 */
  border-radius: 0;
  /* 4 */
  font: inherit;
  /* 5 */
  overflow: visible;
  /* 6 */
  -webkit-appearance: none;
  /* 7 */
  vertical-align: middle;
  /* 8 */
  width: 100%;
  /* 9 */
  border: solid 1px $light-grey;
  color: #666;
  padding: 10px;
  padding-right:40px ;
}
.search-icon{
  position: absolute;
  top:0;
  right: 0;
  padding: 10px;
  filter: $grey-filter;
 &.small{
  height: 20px;
  width: 20px;
 }
}
// tables and its elements
.responsive-table{
  width: 100%;
  max-width: none;
  overflow: scroll;
  white-space: normal;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Inder';
  font-weight: lighter;
  & thead{
    text-transform: uppercase;
    border-bottom: 1px solid $light-grey;
    color: $deep-blue !important;
    padding-bottom: 5px;
  }
  & tbody{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $silver-blue;
    & tr{
      border-bottom: 1px solid $light-grey;
      & td.product-image{
        & img{
        max-width: 80px;
        max-height: 80px;
        border-radius: 1rem;
        }
      }
      &:hover{
        background-color: $light-grey-blue;
      }
      &:nth-last-of-type(even){
        background-color: $soft-grey;
        &:hover{
          background-color: $light-grey-blue;
        }
      }
    }
  }
  & th, & td{
    padding: 20px 10px;
  }
}
.select-header-table{
  font-family: 'Inder';
  font-weight: lighter;
  text-transform: uppercase;
  border-color: $light-grey-blue;
  color: $deep-blue !important;
  padding: 10px;
  &.round{
    border-radius: 3rem !important;
  }
  &.no-border{
    border: transparent !important;
  }
}

// containers
.panel-container{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.card-container{
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1rem;
  padding: 10px;
}
.chart-container{
  height: 60vh;
  margin: 0;
  overflow: auto;
}
.search-bar-form{
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  margin: 0;
}
.options-bar{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.pagination{
  color: #666;
  font-family: 'Inder';
  font-weight: bold !important;
  font-size: 20px;
&.center-flex{
  display: flex !important;
  gap: 10px;
  align-items: center;
  justify-content: center;
}}
@media (max-width: 900px) {
  .navbar{
    &.left{
      display: none;
    }
  }
  .panel-display{
    width: 100%;
  }
  .responsive-table{
    display: flex;
    flex-direction: column;
    & thead{
      display: none;
    }
    th,
    td {
      width: auto!important;
      display: flex;
      flex-direction: column;
      max-width: none !important;
      min-width: 0 !important;
      overflow: visible !important;
      white-space: normal !important;
  }
  tr{
    & td.product-image{
      grid-area: "product-image";
    }
    & td.product-attribute{
      grid-area: "product-attribute";
    }
    & td.product-actions{
      grid-area: "product-actions";
    }
    display: grid;
    grid-template-areas: "product-image product-attribute product-attribute"
                         "product-image product-attribute product-attribute"
                         "product-image product-attribute product-attribute"
                         "product-actions product-actions product-actions";
  }

  }
}

